<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First App level Two home page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>you can go to <a href="/form_page">/form_page</a></h1>
    </div>


    <div class="jumbotron">
        <h1>Connecting models with templates</h1>

        <h2>Here are your access records:</h2>
        {% if access_records %}
        <table class="djangotwo">
            <thead>
                <th>Site Name</th>
                <th>Date Accessed</th>
            </thead>
            {% for acc in access_records %}
            <tr>
                <td>{{ acc.name }}</td>
                <td>{{ acc.date }}</td>
            </tr>
            {% endfor %}
            
        </table>

        {% else %}
            <p>NO ACCESS RECORDS FOUND!</p>
        {% endif %}


    </div>
    
</body>
</html>